.text-anchor {
    font-weight: 200!important;
    color: rgb(255, 255, 255)!important;
    
}

.font-marquee-slide{
    font-size: 15px!important;
    color: white;
}

#mobil-margin-top-nav{
    background-color: black;
}

a{
    text-decoration: none!important;
}